{% extends "myapp/base.html" %}

    {% block content %}
    <div class="main-content">
        <header>

        </header>
<body>
{% if request.COOKIES.role == "Charmans" %}
<h3>Role : {{request.COOKIES.role}}</h3>
<h3>Name : {{data.name}}</h3>
<h3>User id : {{request.COOKIES.charman_id}}</h3>

{% elif request.COOKIES.role == "Member" %}
<h3>Role : {{request.COOKIES.role}}</h3>
<h3>Name : {{data.name}}</h3>
<h3>User id : {{request.COOKIES.member_id}}</h3>
<h3>Number : {{data.mobile_number}}</h3>
<h3>email : {{data.email}}</h3>
{% elif request.COOKIES.role == "Watchman" %}
<h3>Role : {{request.COOKIES.role}}</h3>
<h3>Name : {{data.name}}</h3>
<h3>User id : {{request.COOKIES.Watchman_id}}</h3>

{% endif %}

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatedata">
  update
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="updatedata" tabindex="-1" aria-labelledby="updatedataLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updatedataLabel">update data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url "profile" %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


 
    </div>

  {% endblock %}


a
  
